<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voltek.newsfeed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.voltek.newsfeed.NewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.voltek.newsfeed.presentation.ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.voltek.newsfeed.presentation.ui.list.ListActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="com.voltek.newsfeed.presentation.ui.details.DetailsActivity"
            android:parentActivityName="com.voltek.newsfeed.presentation.ui.list.ListActivity" />

        <activity
            android:name="com.voltek.newsfeed.presentation.ui.news_sources.NewsSourcesActivity"
            android:parentActivityName="com.voltek.newsfeed.presentation.ui.list.ListActivity" />

    </application>

</manifest>